*.bak
*.diff
*.gem
*.iml
*.log
*.patch
*.rbc
*.swp
*~
.*proj
.DS_Store
.bundle
.classpath
.config
.idea
.idea/
.idea/**/*
.ipr
.iws
.project
.settings/
.svn/
.yardoc
/db/*.sqlite3
/db/config.yml
Gemfile.lock
InstalledFiles
Thumbs.db
_yardoc
coverage
lib/bundler/man
node_modules/
pkg
pmip
pmip/**/*
rdoc
spec/reports
target/
test/tmp
test/version_tmp
tmp
~*
