.project
*~
.config
pmip/**/*
.idea/**/*
*.log
pkg
.yardoc
dtf.sublime-workspace
_yardoc
tmp
Thumbs.db
*.bak
.iws
pmip
.DS_Store
*.rbc
.svn/
/db/config.yml
*.gem
InstalledFiles
Gemfile.lock
rdoc
dtf.sublime-project
*.swp
lib/bundler/man
.bundle
~*
coverage
.*proj
*.iml
.idea/
*.patch
spec/reports
.idea
node_modules/
/db/*.sqlite3
.classpath
target/
.settings/
test/version_tmp
*.diff
.ipr
test/tmp